---
layout: default
---
<p class="name">{{ site.title }}</p>
<p class="bio">{{ site.description | strip_newlines }}</p>
<p class="home-nav">
    <a href="{{ '/about/' | relative_url }}">More about me</a>
    · <a href="{{ '/now/' | relative_url }}">Now</a>
</p>

<hr>

<ul class="post-list">
    {% for post in site.posts %}
    <li>
        <span class="date">{{ post.date | date: "%m.%d" }}</span>
        <span><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
        {% assign label = post.tag | default: post.categories.first %}
        {% if label %}<span class="tag">{{ label }}</span>{% endif %}
    </li>
    {% endfor %}
</ul>
